header { 
    background: rgba(0, 0, 255, 0.493);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
    color : blanchedalmond;
  } 
  